*.d
*.o
firmware
/firmware.packed.bin
/firmware.bin
/compiled-firmware
.cache
compile_commands.json
.vscode
/docs
k5_eeprom.raw

/build
/serialtool/__pycache__

.DS_Store
*.img
K1_prog_win/my_config.bin
chirp/Quansheng_UV-K1 & UV-K5 V3_20260221.img
/K1_prog_win
